@if (currentUser) {
<div class="container">
  <header class="bg-secondary-subtle border-top-0 rounded">
    <h3>
      <strong>{{
        currentUser.username.charAt(0).toUpperCase() +
          currentUser.username.slice(1)
      }}</strong>
      Profile
    </h3>
  </header>
  <p>
    <strong>Email:</strong>
    {{ currentUser.email }}
  </p>
  <strong>Roles:</strong>
  <ul class="list-group">
    @for (role of currentUser.roles; track role) {
    <li class="list-group-item">{{ role }}</li>
    }
  </ul>
</div>
} @else {
<p class="alert alert-info">Please login.</p>
}
