/* You can add global styles to this file, and also import other style files */
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

.user-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 16px;
}

.font-weight-600 {
  font-weight: 500;
}

.user-container {
  .card {
    color: #fff;
    background-color: #4ec8e0;
    padding: 20px 25px 30px;
    min-width: 380px;
    margin-top: -10rem;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);

    .form-group {
      margin-bottom: 1rem;

      .btn-large-text {
        font-size: 20px; /* adjust as needed */
      }
    }

    .fs-18 {
      font-size: 18px;
    }
  }

  .card-container {
    max-width: 400px !important;
    padding: 60px 40px;
  }
}

.box-shadow {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 0 0 10px 10px;
  -moz-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
  margin-left: 2%;
  margin-right: 2%;
}

.underline-text {
  text-decoration: underline;
  color: white;
  font-weight: 500;
  &:hover {
    border: 1px solid white;
    text-decoration: none;
    padding: 2px 15px;
    border-radius: 5px;
    font-style: italic;
    transition: 0.3s ease-in-out;
  }
}

.nav-link:hover {
  text-decoration: underline;
  padding-right: 4px;
}

.nav-link {
  font-weight: 500;
  font-size: 17px;
}

.password-input {
  margin: 0px 0px 3rem 0px;
}

// home component
.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  // horizontal line
  border-bottom: 1px solid #fff;
  margin: 1rem 0;
}

.button-container {
  width: 25%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .btn {
    cursor: pointer;
    padding: 0.2rem 1rem;
    font-weight: 100;
    font-size: 0.8rem;
  }
}
